/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: url('fone.jpg');
	background-size: 25%;
}

body.__list-burger-active, body.__content__popup__active{
	overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

.header__wrapper {
	padding: 0 15%;
}

.header {
	height: 120px;
	background-color: #343a40;
	border-bottom: 1px #000 solid;
	z-index: 4;
	// position: fixed;
	// width: 100%;
	// top: 0;
	// z-index: 5;
	.header__content {
		height: 120px;
	}
	.header__menu {
		display: flex;
		.header__logo {
			align-self: center;
			flex: 1 1 30%;
			img {
				width: 80%;
			}
			@media (min-width: 1600px) {
				img {
					max-width: 250px;
				}				
			}
		}
		.list-menu {
			flex: 1 1 75%;
			color: #fff;
			font-size: calc(9px + 7 * (100vw / 1400));
			font-weight: 400;
			transition-duration: 0.5s;
			a {
				color: #fff;
				font-size: calc(9px + 7 * (100vw / 1400));
				font-weight: 400;
			}
			.list {
				display: flex;
				justify-content: space-between;
				height: 120px;
				font-family: "Bitter", sans-serif;
				li {
					align-self: center;
					padding: 0.5% 2%;
					white-space: nowrap;
					list-style-type: none;
					position: relative;
					&:hover {
						.list__sub-menu {
							display: block;
							animation-name: opacity-animation;
							animation-duration: 0.6s;
							animation-fill-mode: forwards;
						}
					}
					@keyframes opacity-animation {
						0% {
							opacity: 0;
							
						}
						100% {
							opacity: 1;
							top: 100%;
						}
					}
					.list__sub-menu {
						display: none;
						transition-duration: 1s;
						position: absolute;
						width: 150%;
						top: 150%;
						left: 0%;
						border: 2px solid #fff;
						background-color: #ccc;
						z-index: 5;
						li {
							margin: 3% 0%;
							padding: 2% 4%;
						}
					}
				}
				@media (min-width: 1000px) {
					li:hover {
						background-color: #a8abb7;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
				}
			}
		}
		.list-burger {
			display: none;
			position: relative;
			align-self: center;
			margin: 0 15% 0 0;
			height: 25%;
			.line {
				width: 80%;
				margin: 0 auto;
				height: 2px;
				align-self: center;
				background-color: #fff;
				transition-duration: 0.5s;
			}
			.line::before, .line::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 80%;
				background-color: #fff;
				transition-duration: 0.5s;
			}
			.line::before {
				top: 0;
			}
			.line::after {
				bottom: 0;
			}
		}
		.list-menu.list-menu-active {
			overflow: auto
		}
	}
}

.scroll-to-menu {
	display: none;
	width: 50px;
	height: 50px
}

.scroll-to-menu-active {
	display: block;
	position: fixed;
	top: 10%;
	right: 5%;
	cursor: pointer;
	background: url(arrow-bottom.png) 0 0/ 100% 100%;
	z-index: 5;
}

.title {
	text-align: center;
	padding-bottom: 5%;
	font-family: "Bitter", sans-serif;
	text-transform: uppercase;
	padding-bottom: 5%;
	color: #eee;
	font-size: calc(9px + 29 * (100vw / 1400));
	letter-spacing: 2px;
	h2 {
		font-weight: 900;
		position: relative;
		color: #fff;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 3vw;
			height: 3vw;
			background-color: #fff;
			border-radius: 60% 5%;
			animation: bef-aft-animation 4s linear infinite alternate;
		}
		&::before {
			left: 20%
		}
		&::after {
			right: 20%
		}
	}
	h1 {
		font-weight: 900;
		position: relative;
		color: #fff;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 3vw;
			height: 3vw;
			background-color: #fff;
			border-radius: 60% 5%;

			// background: url('slider-icon-heading.png') 0 0 / contain no-repeat;
		}
		&::before {
			left: 22%
		}
		&::after {
			right: 22%
		}
	}
	p {
		text-transform: none;
		font-size: calc(9px + 10 * (100vw / 1400));
		padding-top: 1%;
		max-width: 80%;
		margin: 0 auto;
		letter-spacing: 1.5px;
	}
}


@keyframes bef-aft-animation {
	0% {
		border-radius: 60% 5%;
	}
	25% {
		border-radius: 40% 20%;
	}
	50% {
		border-radius: 20% 45%;
	}
	75% {
		border-radius: 10% 55%;
	}
	100% {
		border-radius: 5% 60%;
	}
}

.home__wrapper {
	padding: 0 8% 0 8%;
}

.home-style {
	box-shadow: 0px 15px 100px #000;
	border: 1px solid rgba(100, 100, 100, 0.6);
	border-radius: 25px;
	margin: 5% 6% 0 6%;
	padding: 100px 0 100px 0;
}

.home__content {
	background-color: #76c893;
	margin: 0;
	border: 0;
	padding: 4% 0% 8% 0%;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	z-index: 4;
	.content {
		.banner__school {
			display: flex;
			min-width: 0;
			
			.home__content-slider {
				.home__content-slider__item {
					text-align: center;
					padding: 1% 1%;
					img {
						max-width: 100%;
						border-radius: 10px;
					}
				}
				.slick-track {
					display: flex;
					background-color: #c3d0d2;
					border-radius: 15px;
				}
				.slick-list {
					position: relative;
					max-width: 80%;
					margin: 0 auto;
					overflow: hidden;
					border-radius: 15px;
					border: 5px solid #fff;
				}
			}
			.banner-slider {
				min-width: 0;
				flex: 1 1 50%;
				align-self: center;
			}
			.banner-info {
				flex: 1 1 50%;
				font-family: "Bitter", sans-serif;
				color: #eee;
				h2 {
					font-size: calc(9px + 31 * (100vw / 1400));
					font-weight: 600;
					margin-bottom: 6%;
				}
				p {
					font-size: calc(9px + 13 * (100vw / 1400));
					line-height: 1.1;
					font-weight: 700;
				}
			}
		}
		.slide-about {
			padding: 5% 0 0 0;
			text-align: center;
			font-family: "Bitter", sans-serif;
			text-transform: uppercase;
			font-size: calc(9px + 20 * (100vw / 1400));
			a {
				background-color: #343a40;
				max-width: 20vw;
				margin: 0 auto;
				padding: 2% 4%;
				border-radius: 10px;
				border: 3px solid #fff;
				cursor: pointer;
				color: #fff;
				font-weight: 600;
				letter-spacing: 5px;
			}
		}
		.home__content-animation {
			padding: 4% 0 8% 0;
			height: 100px;
			.arrow-animation {
				text-align: center;
				animation-name: arrow-animation;
				animation-duration: 0.8s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
				img {
					max-width: 8%;
				}
			}
		}
	}
}

@keyframes arrow-animation{
	0% {
		top: 0;
	}
	50% {

	}
	100% {
		margin-top: 5%;
	}
}

.home-slider {
	background-color: #a9d8a5;
	flex: 1 1 100%;
	.slider {
		overflow: hidden;
		padding-bottom: 10%;
		position: relative;
		.slider-item {
			text-align: center;
			display: flex;
			flex-direction: column;
			// @media (min-width: 1500px) {
			// 	justify-content: center;
			// }
			justify-content: space-between;
			.slider-icon {
				@media (min-width: 1800px) {
					height: 200px;
				}
				height: 150px;
				display: flex;
				justify-content: center;
				position: relative;
				margin-bottom: 5%;
				img {
					max-width: 9%;
					align-self: flex-end;
					padding-bottom: 10%;
				}
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					width: 20%;
					height: 4px;
					background-color: #aad1b7;
				}
			}
			.slider-text {
				@media (min-width: 1500px) {
					height: calc(100px + 5%)
				}
				height: 100px;
				max-width: 90%;
				margin: 0 auto;
				font-family: "Bitter", sans-serif;
				color: #333;
				font-weight: 500;
				h2 {
					text-transform: uppercase;
					font-size: calc(9px + 14 * (100vw / 1400));
					font-weight: 600;
					padding-bottom: 4%;
				}
				p {
					font-size: calc(6px + 9 * (100vw / 1400));
				}
				a {
					color: #52b69a;
					text-decoration: underline;
				}
			}
		}
		.slick-track{
			display: flex;
			background-color: #e3ffeb;
			overflow: hidden;
			padding: 5% 0 5% 0;
		}
		.slick-list {
			position: relative;
			max-width: 90%;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 15px;
			border: 4px solid rgb(179, 241, 197);
		}
		.slick-arrow.slick-prev{
			position: absolute;
			bottom: 0%;
			left: 10%;
			background: url("green-arrow-left.png") 0% 100% / contain no-repeat;
		}
		.slick-arrow.slick-prev.green-arrow-left-active {
			background-image: url("green-arrow-left-active.png")
		}
		.slick-arrow.slick-next.green-arrow-right-active {
			background-image: url("green-arrow-right-active.png")
		}
		.slick-arrow.slick-next{
			position: absolute;
			bottom: 0;
			right: 10%;
			background: url("green-arrow-right.png") 0% 100% / contain no-repeat;
		}
		.slick-arrow{
			display: block;
			z-index: 5;
			font-size: 0;
			width: 7.5%;
			height: 21%;
		}
		.slick-dots{
			display: flex;
			position: absolute;
			bottom: 5%;
			width: 100%;
			justify-content: center;
			li {
				padding: 0 1%;
				button {
					font-size: 0;
					height: calc(6px + 17 * (100vw / 1400));
					width: calc(6px + 17 * (100vw / 1400));
					background: url("dots.png") 0 0 /  contain;
				}
			}
		}
		.slick-dots li.slick-active button{
			background: url("dots-active.png") 0 0 / contain;
		}
	}
}



.places__school {
	background-color: #ffb4a2;
	margin: 5% 0 0 0;
	border: 0;
	padding: 4% 0% 8% 0%;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	.wrapper {
		padding: 0 4%;
	}
	.places__school-title {
		text-align: center;
		color: #fff;
		font-family: "Bitter", sans-serif;
		h2 {
			font-size: calc(9px + 30 * (100vw / 1400));
			font-weight: 700;
			display: inline-block;
			align-self: center;
			&::before, &::after {
				display: none;
			}
		}
		p {
			font-weight: 500;
			font-size: calc(9px + 15 * (100vw / 1400));
			word-spacing: 5px;
		}
		.touch-title {
			margin: 5% 0 0 0;
			font-size: calc(9px + 30 * (100vw / 1400));
			font-weight: 700;
			img {
				margin: 2% 0 0 0;
				max-width: 8%;
				transform: rotate(180deg);
			}
		}
	}
	.tabs__button-list {
		ul {
			display: flex;
			justify-content: space-evenly;
			font-family: "Bitter", sans-serif;
			font-weight: 700;
			color: #fff;
			letter-spacing: 2px;
			transition: 0.5s;
			li {
				padding: 0.7% 2%;
				background-color: #E5A291;
				border-radius: 4px;
				font-size: calc(9px + 10 * (100vw / 1400));
				cursor: pointer;
				&.tab__active {
					background-color: #FFCDC0;
					transition: 0.5s;
				}
			}
		}
		padding: 0 0 5% 0;
	}
	.tabs__blocks {
		padding: 0% 10%;
	}
	.blocks__layout {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
		justify-content: center;
	}
	.block {
		transition: 0.5s;
		position: relative;
		display: none;
		padding: 0 5% 10% 5%;
		.block__popup {
			display: none;
		}
	}
	.block.active-block {
		display: block;
	}
	.block.active__popup {
		.block__popup {
			display: block;
			position: fixed;
			width: 100%;
			height: 100vh;
			text-align: center;
			top: 0;
			left: 0;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			font-size: calc(9px + 15 * (100vw / 1400));
			font-family: "Bitter", sans-serif;
			font-weight: 600;
			line-height: 1.5;
			.close__popup {
				position: absolute;
				top: 5vh;
				right: 5vh;
				img {
					max-width: 8vw;
				}
			}
			img {
				padding: 5vh 0 5% 0;
				max-width: 40vh;
			}
			p {
				max-width: 70%;
				margin: 0 auto;
			}
		}
	}
	.block:hover {
		transition: 0.5s;
		.block-info {
			transition: 0.5s;
			background: #48cae4;
			color: #fff;
		}
	}
	.block-info {
		background-color: #eee;
		transition: 0.5s;
		font-size: calc(9px + 5 * (100vw / 1400));
		font-family: "Bitter", sans-serif;
		line-height: 1.4;
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: auto minmax(50px, 60px) 1fr;
		h2 {
			font-weight: 800;
			font-size: calc(9px + 10 * (100vw / 1400));
			padding: 5% 0 0 5%;
			letter-spacing: 2px
		}
		p{
			font-weight: 600;
			padding: 7% 5% 5% 5%;
		}
		.block-info-img {
			position: relative;
			padding: 0 0 90% 0;
			margin-bottom: 0 0 20px 0;
		}
		.block-info-img img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

@keyframes img-anim {
	0%{
		transform: rotateZ(3deg)
	}
	100%{
		transform: rotateZ(-3deg)
	}
}

.spoilers.home-style {
	margin: 5% 0 0 0;
	padding: 10% 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #a470fa;
	.title {
		h2 {
			&::before, &::after {
				content: '';
				position: absolute;
				width: 4vw;
				height: 4vw;
				background: url(star.png) 0 0/ 100% 100%;
				animation: rotation 10s linear infinite;
			}
			&::before {
				left: 20%
			}
			&::after {
				right: 20%
			}
		}	
	}
	.spoilers-text {
		padding-bottom: 5%;
	}
	.spoiler {
		font-family: "Bitter", sans-serif;
		padding: 2% 0;
		position: relative;
		h2 {
			color: #fff;
			font-weight: 900;
			font-size: calc(9px + 20 * (100vw / 1400));
			padding: 2% 0 2% 8%;
			position: relative;
			cursor: pointer;
			&::before, &::after {
				content: '';
				position: absolute;
				top: 2.5vw;
				left: 0;
				width: 2vw;
				height: 3px;
				background-color: #fff;
				transition: 0.2s;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
				left: 1.3vw;
			}
		}
		h2.active {
			&::before {
				transform: rotate(-45deg);
				transition: 0.2s;
			}
			&::after {
				transform: rotate(45deg);
				transition: 0.2s;
			}			
		}
		p {
			display: none;
			font-size: calc(9px + 14 * (100vw / 1400));
			margin-left: 3%;
			font-weight: 500;
			word-spacing: 3px;
			color: #fff;
			padding: 2% 0;
			max-width: 70%;
		}
	}
	.spoiler-img {
		text-align: right;
		opacity: 0;
		transition: 0.5s;
		position: absolute;
		width: 20%;
		top: 0;
		right: 0;
		z-index: 4;
		img {
			width: 100%;
			border: 3px solid #fff;
			border-radius: 5%;
		}
	}
	.spoiler.go{
		.spoiler-img {
			opacity: 1;
			display: block;
			transition: 0.5s;
		}
	}
	.spoiler:nth-child(odd) .spoiler-img{
		top: 0vw;
		img {
			transform: rotate(3deg);
		}
	}
	.spoiler:nth-child(even) .spoiler-img{
		top: 0vw;
		img {
			transform: rotate(-3deg);
		}
	}
}

@keyframes rotation {
	0%{
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);		
	}
}

.footer {
	height: 120px;
	background-color: #343a40;
	margin-top: 5%;
	flex: 0 0 auto;
	.home__wrapper {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}
	.footer-icon {
		align-self: center;
		img {
			max-width: 70%;
		}
	}
	.footer-info {
		align-self: center;
		height: 100%;
	}
	.contacts {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.contact {
		font-family: "Bitter", sans-serif;
		font-size: calc(9px + 10 * (100vw / 1400));
		color: #fff;
	}
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


@media (min-width: 1000px) {
	.scroll-to-menu {
		width: 75px;
		display: none;
		height: 75px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}	
}

@media (max-width: 900px) {
	.home__content {
		.content{
			.title {
				h1 {
					&::before {
						left: 10%;
						width: 5%;
						height: 3.5vw;
					}
					&::after {
						right: 10%;
						width: 5%;
						height: 3.5vw;
					}
				}
			}
			.banner__school {
				display: block;
				.banner-slider {
					.home__content-slider {
						margin: 0 auto;
						max-width: 70%;
					}
					margin-bottom: 7%;
				}
				.banner-info {
					text-align: center;
				}
			}
		}
	}
	.home-slider {
		padding: 10% 0;
		.title {
			h2 {
				font-size: calc(9px + 14 * (100vw / 1400));
				&::before, &::after {
					width: 2.5%;
					height: 2.5vw;
				}
				
				&::before {
					left: 16%;
					width: 3.5%;
				}
				&::after {
					right: 16%;
					width: 3.5%;
				}
			}
		}
		.slider {
			.slider-item {
				.slider-icon {
					height: 50px;
				}
				.slider-text {
					height: 75px;
					h2 {
						text-transform: uppercase;
						font-size: calc(9px + 11 * (100vw / 1400));
						font-weight: 600;
						padding-bottom: 4%;
					}
					p {
						font-size: calc(6px + 7 * (100vw / 1400));
					}
				}
			}
			.slick-arrow{
				width: 9.5%;
				height: 24%;
			}
		}
	}
}

@media (max-width: 768px) {
	.header__wrapper {
		padding: 0;
	}
	.header {
		.header__menu {
			height: 100%;
			.header__logo {
				margin: 0 0 0 15%;
				flex: 1 1 70%;
				img {
					max-width: 60%
				}
			}
			.list-burger {
				align-self: center;
				display: flex;
				width: 8%;
				flex: 1 1 10%;
				z-index: 10;
			}
			.list-burger-active {
				.line {
					background-color: rgba(0, 0, 0, 0);
					transition-duration: 1s;
				}
				.line::before {
					top: 48%;
					transform: rotate(45deg) ;
				}
				.line::after {
					bottom: 48%;
					transform: rotate(-45deg) ;
				}
			}
			.list-menu {
				background: url('fone.jpg');
				background-size: 60%;
				width: 100%;
				height: 100vh;
				position: absolute;
				top: -200%;
				transition-duration: 0.5s;
				z-index: 10;
				.list {
					display: block;
					padding: 30% 0 0 10%;
					font-size: calc(9px + 25 * (100vw / 1400));
					z-index: 10;
				}
			}
			.list-menu.list-menu-active {
				top: 0;
				animation-duration: 1s;
				.list {
					a {
						font-size: calc(9px + 25 * (100vw / 1400));
						font-weight: 700;
					}
					li {
						font-weight: 700;
						@keyframes opacity-animation {
							0% {
								opacity: 0;
								
							}
							100% {
								opacity: 1;
								left: 35%;
							}
						}
						display: block;
						padding: 3% 0;
						.list__sub-menu {
							top: 0;
							left: 40%;
							width: 60%;
							li {
								padding: 2% 2%;
							}
						}
					}
				}
			}
		}
	}
	.scroll-to-menu {
		width: 50px;
		display: none;
		height: 50px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}
	.home__content {
		padding: 10% 0 0 0;
		.content{
			text-align: left;
			.title {
				h1 {
					text-align: center;
					margin-bottom: 10%;
				}
				h1::before{
					left: 12%;
					width: 5%;
					height: 120%;
				}
				h1::after{
					right: 12%;
					width: 5%;
					height: 120%;
				}
				p {
					font-size: calc(9px + 20 * (100vw / 1400));
					margin: 0;
					text-align: left;
				}
				h2::before{
					left: 6%;
					width: 5%;
					height: 120%;
				}
				h2::after{
					right: 6%;
					width: 5%;
					height: 120%;
				}
			}
			.banner__school {
				display: block;
				.banner-slider {
					.home__content-slider {
						margin: 0 auto;
						max-width: 100%;
					}
					margin-bottom: 7%;
				}
				.banner-info {
					text-align: left;
				}
			}
			.home__content-animation {
				height: 130px;
			}
		}
	}
	.home-slider {
		padding: 10% 0;
		.title {
			h2 {
				font-size: calc(9px + 14 * (100vw / 1400));
				&::before, &::after {
					height: 2.5vw;
				}
				
				&::before {
					left: 14%;
					width: 3.5%;
				}
				&::after {
					right: 14%;
					width: 3.5%;
				}
			}
		}
		.slider {
			.slider-item {
				.slider-text {
					height: 75px;
					h2 {
						text-transform: uppercase;
						font-size: calc(9px + 7 * (100vw / 1400));
						font-weight: 600;
						padding-bottom: 4%;
					}
					p {
						font-size: calc(6px + 4 * (100vw / 1400));
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.scroll-to-menu {
		width: 40px;
		height: 40px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}
}

@media (min-height: 605px){
	.places__school {
		.block.active__popup {
			.block__popup {
				.close__popup {
					position: absolute;
					top: 0vh;
					right: 5vh;
					img {
						max-width: 8vw;
					}
				}
				img {
					padding: 5vh 0 5% 0;
					max-width: 50vw;
				}
				p {
					max-width: 70%;
					margin: 0 auto;
				}
			}
		}
	}	
}

@media (max-width: 550px) {

	.spoilers.home-style {
		.title {
			h2 {
				&::before, &::after {
					width: 5vw;
					height: 5vw;
				}
				&::before {
					left: 15%
				}
				&::after {
					right: 15%
				}
			}	
		}
		.spoiler {
			font-family: "Bitter", sans-serif;
			padding: 2% 0;
			h2 {
				&::before, &::after {
					width: 2.5vw;
				}
			}
		}
		.spoiler-text {
			p {
				max-width: 60%;
			}
		}
		.spoiler-img {
			width: 30%;
		}
	}
}

@media (max-width: 400px) {
	.home-slider {
		.title {
			h2 {
				font-size: calc(9px + 6 * (100vw / 1400));
			}
		}
	}
	.home__content {
		.content {
			.title {
				h1 {
					&::after{
						right: 5%
					}
					&::before{
						left: 5%
					}
				}
			}
		}
	}
}