/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: url('fone.jpg');
	background-size: 25%;
}

body.__list-burger-active, body.__content__popup__active{
	overflow-y: hidden;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

.header__wrapper {
	padding: 0 15%;
}

.header {
	height: 120px;
	background-color: #343a40;
	border-bottom: 1px #000 solid;
	z-index: 4;
	// position: fixed;
	// width: 100%;
	// top: 0;
	// z-index: 5;
	.header__content {
		height: 120px;
	}
	.header__menu {
		display: flex;
		.header__logo {
			align-self: center;
			flex: 1 1 30%;
			img {
				width: 80%;
			}
			@media (min-width: 1600px) {
				img {
					max-width: 250px;
				}				
			}
		}
		.list-menu {
			flex: 1 1 75%;
			color: #fff;
			font-size: calc(9px + 7 * (100vw / 1400));
			font-weight: 400;
			transition-duration: 0.5s;
			a {
				color: #fff;
				font-size: calc(9px + 7 * (100vw / 1400));
				font-weight: 400;
			}
			.list {
				display: flex;
				justify-content: space-between;
				height: 120px;
				font-family: "Bitter", sans-serif;
				li {
					align-self: center;
					padding: 0.5% 2%;
					white-space: nowrap;
					list-style-type: none;
					position: relative;
					&:hover {
						.list__sub-menu {
							display: block;
							animation-name: opacity-animation;
							animation-duration: 0.6s;
							animation-fill-mode: forwards;
						}
					}
					@keyframes opacity-animation {
						0% {
							opacity: 0;
							
						}
						100% {
							opacity: 1;
							top: 100%;
						}
					}
					.list__sub-menu {
						display: none;
						transition-duration: 1s;
						position: absolute;
						width: 150%;
						top: 150%;
						left: 0%;
						border: 2px solid #fff;
						background-color: #ccc;
						z-index: 5;
						li {
							margin: 3% 0%;
							padding: 2% 4%;
						}
					}
				}
				@media (min-width: 1000px) {
					li:hover {
						background-color: #a8abb7;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
				}
			}
		}
		.list-burger {
			display: none;
			position: relative;
			align-self: center;
			margin: 0 15% 0 0;
			height: 25%;
			.line {
				width: 80%;
				margin: 0 auto;
				height: 2px;
				align-self: center;
				background-color: #fff;
				transition-duration: 0.5s;
			}
			.line::before, .line::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 80%;
				background-color: #fff;
				transition-duration: 0.5s;
			}
			.line::before {
				top: 0;
			}
			.line::after {
				bottom: 0;
			}
		}
		.list-menu.list-menu-active {
			overflow: auto
		}
	}
}

.scroll-to-menu {
	display: none;
	width: 50px;
	height: 50px
}

.scroll-to-menu-active {
	display: block;
	position: fixed;
	top: 5vh;
	right: 3vw;
	cursor: pointer;
	background: url(arrow-bottom.png) 0 0/ 100% 100%;
	z-index: 5;
} 


.title {
	text-align: center;
	padding-bottom: 5%;
	font-family: "Bitter", sans-serif;
	text-transform: uppercase;
	padding-bottom: 5%;
	color: #eee;
	font-size: calc(9px + 29 * (100vw / 1400));
	h2 {
		font-weight: 900;
		position: relative;
		color: #fff;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 3%;
			height: 100%;
			background-color: #fff;
			border-radius: 60% 5%;
			animation: bef-aft-animation 4s linear infinite alternate;
			// background: url('slider-icon-heading.png') 0 0 / contain no-repeat;
		}
		&::before {
			left: 20%
		}
		&::after {
			right: 20%
		}
	}
	h1 {
		font-weight: 900;
		position: relative;
		color: #fff;
		font-size: calc(9px + 34 * (100vw / 1400));
		&::before, &::after {
			content: '';
			position: absolute;
			width: 4%;
			height: 100%;
			background-color: #fff;
			border-radius: 60% 5%;
			animation: bef-aft-animation 4s linear infinite alternate;

			// background: url('slider-icon-heading.png') 0 0 / contain no-repeat;
		}
		&::before {
			left: 22%
		}
		&::after {
			right: 22%
		}
	}
	p {
		text-transform: none;
		font-size: calc(9px + 10 * (100vw / 1400));
		padding-top: 1%;
		max-width: 80%;
		margin: 0 auto;
	}
}

.sub_title {

}

.list-burger-active {

}

@keyframes bef-aft-animation {
	0% {
		border-radius: 60% 5%;
	}
	25% {
		border-radius: 40% 20%;
	}
	50% {
		border-radius: 20% 45%;
	}
	75% {
		border-radius: 10% 55%;
	}
	100% {
		border-radius: 5% 60%;
	}
}

.wrapper {
	padding: 0 8% 0 8%;
}

.home-style {
	box-shadow: 0px 15px 100px #000;
	border: 1px solid rgba(100, 100, 100, 0.6);
	border-radius: 25px;
	margin: 5% 6% 0 6%;
	padding: 100px 0 100px 0;
}

.our-teachers {
	margin: 0;
	padding: 8% 8%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #9F99FF;
	color: #fff;
	flex: 1 1 100%;
	.title {
		color: #fff;
		font-family: "Bitter", sans-serif;
		margin-bottom: 4%;
	}
	.teacher {
		display: flex;
		justify-content: space-between;
		color: #fff;
		font-size: calc(9px + 15 * (100vw / 1400));
		font-weight: 500;
		padding: 0 0 10% 0;
		.teacher-img {
			flex: 1 1 50%;
			img {
				width: 40%;
				border-radius: 5%;
				border: 8px solid #fff;
				margin: 0 0 7% 0;
			}
			.sub-info {
				line-height: 1.2;
				font-size: calc(9px + 19 * (100vw / 1400));
				font-family: "Bitter", sans-serif;
				h2 {
					font-weight: 500;
				}
			}
		}
		.about-teacher {
			flex: 1 1 50%;
			font-size: calc(9px + 19 * (100vw / 1400));
			font-family: "Bitter", sans-serif;
			line-height: 1.4;
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			position: relative;
			height: 100%;
			padding-bottom: 8%;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				bottom: 0;
				background-color: #fff;
			}
		}
	}
	.all-teachers {
		display: none;
	}
	.open-all {
		background-color: #a477ff;
		padding: 2% 4%;
		border: 3px solid #fff;
		max-width: 20vw;
		text-align: center;
		border-radius: 10px;
		margin: 0 auto;
		cursor: pointer;
		font-size: calc(9px + 12 * (100vw / 1400));
		font-family: "Bitter", sans-serif;
		font-weight: 700;
		letter-spacing: 2px;
	}
}

.teachers__content {
	margin: 5% 0 0 0;
	padding: 8% 2%;
	background-color: #8CD0FF;
	flex: 1;
	.wrapper {
		padding-bottom: auto;
	}
	.teachers__content-title {
		text-align: center;
		margin-bottom: 5%;
		color: #fff;
		font-family: "Bitter", sans-serif;
		.list-title {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 2%;
		}
		h2 {
			font-size: calc(9px + 30 * (100vw / 1400));
			font-weight: 700;
			display: inline-block;
			align-self: center;
		}
		p {
			font-weight: 500;
			font-size: calc(9px + 15 * (100vw / 1400));
			word-spacing: 5px;
		}
		img {
			max-width: 10%;
			align-self: center;
		}
		.touch-title {
			margin: 5% 0 0 0;
			font-size: calc(9px + 30 * (100vw / 1400));
			font-weight: 700;
			img {
				margin: 2% 0 0 0;
				transform: rotate(180deg);
			}
		}
	}
	.teachers__layout {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: minmax(calc(9px + 300 * (100vw / 1400)), 1fr) minmax(calc(9px + 300 * (100vw / 1400)), 1fr);
		padding-bottom: 25%;
		grid-column-gap: 7%;
		grid-row-gap: 20%;
	}
	.content {
		transition: 0.5s;
		position: relative;
		.content__popup {
			display: none;
		}
	}
	.content.active__popup {
		.content__popup {
			display: block;
			position: fixed;
			width: 100%;
			height: 100vh;
			text-align: center;
			top: 0;
			left: 0;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			font-size: calc(9px + 20 * (100vw / 1400));
			font-family: "Bitter", sans-serif;
			font-weight: 600;
			line-height: 1.5;
			.close__popup {
				position: absolute;
				top: 5vh;
				right: 5vh;
				img {
					max-width: 8vw;
				}
			}
			img {
				padding: 2vw 0 5% 0;
				max-width: 30vh;
			}
			p {
				max-width: 70%;
				margin: 0 auto;
			}
		}
	}
	.content:hover {
		transition: 0.5s;
		.teacher-info {
			transition: 0.5s;
			background: #48cae4;
			color: #fff;
		}
	}
	.content::before {
		content: '';
		position: absolute;
		top: 0%;
		left: 35%;
		width: 26%;
		height: 20%;
		background: url(cloud1.png) 0 0 / cover;
	}
	.teacher-info {
		background-color: #eee;
		transition: 0.5s;
		font-size: calc(9px + 5 * (100vw / 1400));
		font-family: "Bitter", sans-serif;
		line-height: 1.4;
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: auto minmax(20px, 30px) 1fr;
		h2 {
			font-weight: 800;
			font-size: calc(9px + 10 * (100vw / 1400));
			padding: 5% 0 0 5%;
			margin: 0 0 10% 0;
			letter-spacing: 2px
		}
		p{
			font-weight: 600;
			padding: 7% 0 5% 5%;
		}
		.teacher-info-img {
			position: relative;
			padding: 0 0 90% 0;
			margin-bottom: 0 0 20px 0;
		}
		.teacher-info-img img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.footer {
	height: 160px;
	background-color: #343a40;
	margin-top: 5%;
	flex: 0 0 auto;
	.wrapper {
		display: flex;
		justify-content: space-around;
		height: 100%;
	}
	.footer-icon {
		align-self: center;
		img {
			max-width: 70%;
		}
	}
	.footer-info {
		align-self: center;
		height: 100%;
	}
	.contacts {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.contact {
		font-family: "Bitter", sans-serif;
		font-size: calc(9px + 10 * (100vw / 1400));
		color: #fff;
	}
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

@media (max-width: 900px) {
	.our-teachers {
		.title {
			color: #fff;
			font-family: "Bitter", sans-serif;
			h1 {
				&::before {
					left: 10%;
					width: 5%;
				}
				&::after {
					right: 10%;
					width: 5%;
				}
			}
		}
		.teacher {
			flex-direction: column;
			.teacher-img {
				text-align: center;
				padding-bottom: 5%;
				img {
					max-width: 50%
				}
			}
			.about-teacher {
				max-width: 80%;
				margin: 0 auto;
			}
		}
	}
}

@media (min-width: 1000px) {
	.scroll-to-menu {
		width: 75px;
		display: none;
		height: 75px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}	
}

@media (max-width: 768px) {
	.scroll-to-menu {
		width: 50px;
		display: none;
		height: 50px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}
	.header__wrapper {
		padding: 0;
	}
	.header {
		.header__menu {
			height: 100%;
			.header__logo {
				margin: 0 0 0 15%;
				flex: 1 1 70%;
				img {
					max-width: 60%
				}
			}
			.list-burger {
				align-self: center;
				display: flex;
				width: 8%;
				flex: 1 1 10%;
				z-index: 10;
			}
			.list-burger-active {
				.line {
					background-color: rgba(0, 0, 0, 0);
					transition-duration: 1s;
				}
				.line::before {
					top: 48%;
					transform: rotate(45deg) ;
				}
				.line::after {
					bottom: 48%;
					transform: rotate(-45deg) ;
				}
			}
			.list-menu {
				background: url('fone.jpg');
				background-size: 60%;
				width: 100%;
				height: 100vh;
				position: absolute;
				top: -200%;
				transition-duration: 0.5s;
				z-index: 10;
				.list {
					display: block;
					padding: 30% 0 0 10%;
					font-size: calc(9px + 25 * (100vw / 1400));
					z-index: 10;
				}
			}
			.list-menu.list-menu-active {
				top: 0;
				animation-duration: 1s;
				.list {
					a {
						font-size: calc(9px + 25 * (100vw / 1400));
						font-weight: 700;
					}
					li {
						font-weight: 700;
						@keyframes opacity-animation {
							0% {
								opacity: 0;
								
							}
							100% {
								opacity: 1;
								left: 35%;
							}
						}
						display: block;
						padding: 3% 0;
						.list__sub-menu {
							top: 0;
							left: 40%;
							width: 60%;
							li {
								padding: 2% 2%;
							}
						}
					}
				}
			}
		}
	}
	.teachers__content {
		.teachers__layout {
			grid-template-columns: 1fr 1fr;
			grid-row-gap: 25%;
		}
	}
}

@media (max-width: 700px) {
	.scroll-to-menu {
		width: 40px;
		height: 40px;
	}
	.scroll-to-menu-active {
		display: block;
		position: fixed;
		top: 10vh;
		right: 2vw;
	}
}

@media (max-width: 480px) {
	.our-teachers {
		.teacher {
			.teacher-img {
				img {
					max-width: 40%
				}
			}
		}
	}
	.teachers__content {
		.teachers__layout {
			grid-template-columns: 0.8fr;
			grid-row-gap: 5%;
			grid-template-rows: auto;
			justify-content: center;
			padding-bottom: 200%;
		}
		.content.active__popup {
			.content__popup {
				img {
					padding: 20vh 0 5% 0;
				}
				.close__popup {
					img {
						padding: 0;
					}
				}
			}
		}
	}
}

@media (max-height: 600px) {
	.teachers__content {
		.content.active__popup {
			.content__popup {
				line-height: 1;
				img {
					max-width: 30vw;
				}
				.close__popup {
					img {
						padding: 0;
					}
				}
			}
		}
	}	
}

@media (min-height: 605px) {
	.teachers__content {
		.content.active__popup {
			.content__popup {
				font-size: calc(9px + 20 * (100vw / 1400));
				.close__popup {
					position: absolute;
					top: 5vh;
					right: 5vh;
					img {
						max-width: 8vw;
					}
				}
				img {
					padding: 5vh 0 5% 0;
					max-width: 50vw;
				}
				p {
					max-width: 70%;
					margin: 0 auto;
				}
			}
		}
	}
}