@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: url("colors-fone.jpg");
  background-size: 20%;
  height: 2000px;
}

.header__wrapper {
  padding: 0 15%;
}

.header {
  height: 120px;
  background-color: #343a40;
  border-bottom: 1px #000 solid;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__menu .header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.header .header__menu .header__logo img {
  width: 80%;
}
@media (min-width: 1600px) {
  .header .header__menu .header__logo img {
    max-width: 250px;
  }
}
.header .header__menu .list-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}
.header .header__menu .list-menu a {
  color: #fff;
  font-size: calc(9px + 0.5vw);
  font-weight: 400;
}
.header .header__menu .list-menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  font-family: "Bitter", sans-serif;
}
.header .header__menu .list-menu .list li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5% 2%;
  white-space: nowrap;
}
@media (min-width: 1000px) {
  .header .header__menu .list-menu .list li:hover {
    background-color: #a8abb7;
    border-radius: 4px;
  }
}

.home__wrapper {
  padding: 0 15% 0 8%;
}

.home-style {
  -webkit-box-shadow: 0px 15px 100px #000;
          box-shadow: 0px 15px 100px #000;
  border: 1px solid rgba(100, 100, 100, 0.6);
  border-radius: 25px;
  margin: 5% 10% 0 10%;
  padding: 100px 0 100px 0;
}

.home__content {
  background-color: rgb(118, 200, 147);
}
.home__content .content .banner__school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__content .content .banner__school .banner-img img {
  max-width: 90%;
  border-radius: 4%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border: 6px solid #fff;
}
@media (min-width: 1000px) {
  .home__content .content .banner__school .banner-img img:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    max-width: 92%;
  }
}
.home__content .content .banner__school .banner-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  font-family: "Bitter", sans-serif;
  color: #eee;
}
.home__content .content .banner__school .banner-info h2 {
  font-size: calc(9px + 2.2142857143vw);
  font-weight: 600;
  margin-bottom: 6%;
}
.home__content .content .banner__school .banner-info p {
  font-size: calc(9px + 0.9285714286vw);
  line-height: 1.1;
}

.home-slider {
  background-color: rgb(153, 217, 140);
}
.home-slider .slider {
  overflow: hidden;
  padding-bottom: 10%;
  position: relative;
}
.home-slider .slider .slider-item {
  text-align: center;
}
.home-slider .slider .slider-item img {
  width: 80%;
  border: 4px solid rgb(179, 241, 197);
  border-radius: 10%;
}
.home-slider .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e3ffeb;
  overflow: hidden;
  padding: 5% 0 5% 0;
}
.home-slider .slider .slick-list {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  border: 4px solid rgb(179, 241, 197);
}
.home-slider .slider .slick-arrow.slick-prev {
  position: absolute;
  bottom: 0%;
  left: 10%;
  background: url("arrow-left.png") 50% 0/100% 100% no-repeat;
}
.home-slider .slider .slick-arrow.slick-next {
  position: absolute;
  bottom: 0;
  right: 10%;
  background: url("arrow-right.png") 50% 0/100% 100% no-repeat;
}
.home-slider .slider .slick-arrow {
  z-index: 5;
  font-size: 0;
  width: 7.5%;
  height: 21%;
}
.home-slider .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 40%;
}
.home-slider .slider .slick-dots li {
  padding: 0 5%;
}
.home-slider .slider .slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url("dots.png") 0 0/contain;
}
.home-slider .slider .slick-dots li.slick-active button {
  background: url("dots-active.png") 0 0/contain;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */