@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: url("fone.jpg");
  background-size: 25%;
}

body.__list-burger-active, body.__content__popup__active {
  overflow-y: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.header__wrapper {
  padding: 0 15%;
}

.header {
  height: 120px;
  background-color: #343a40;
  border-bottom: 1px #000 solid;
  z-index: 4;
}
.header .header__content {
  height: 120px;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__menu .header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.header .header__menu .header__logo img {
  width: 80%;
}
@media (min-width: 1600px) {
  .header .header__menu .header__logo img {
    max-width: 250px;
  }
}
.header .header__menu .list-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  color: #fff;
  font-size: calc(9px + 0.5vw);
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header .header__menu .list-menu a {
  color: #fff;
  font-size: calc(9px + 0.5vw);
  font-weight: 400;
}
.header .header__menu .list-menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  font-family: "Bitter", sans-serif;
}
.header .header__menu .list-menu .list li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5% 2%;
  white-space: nowrap;
  list-style-type: none;
  position: relative;
}
.header .header__menu .list-menu .list li:hover .list__sub-menu {
  display: block;
  -webkit-animation-name: opacity-animation;
          animation-name: opacity-animation;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
.header .header__menu .list-menu .list li .list__sub-menu {
  display: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  position: absolute;
  width: 150%;
  top: 150%;
  left: 0%;
  border: 2px solid #fff;
  background-color: #ccc;
  z-index: 5;
}
.header .header__menu .list-menu .list li .list__sub-menu li {
  margin: 3% 0%;
  padding: 2% 4%;
}
@media (min-width: 1000px) {
  .header .header__menu .list-menu .list li:hover {
    background-color: #a8abb7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}
.header .header__menu .list-burger {
  display: none;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 15% 0 0;
  height: 25%;
}
.header .header__menu .list-burger .line {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header .header__menu .list-burger .line::before, .header .header__menu .list-burger .line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header .header__menu .list-burger .line::before {
  top: 0;
}
.header .header__menu .list-burger .line::after {
  bottom: 0;
}
.header .header__menu .list-menu.list-menu-active {
  overflow: auto;
}

.scroll-to-menu {
  display: none;
  width: 50px;
  height: 50px;
}

.scroll-to-menu-active {
  display: block;
  position: fixed;
  top: 5vh;
  right: 3vw;
  cursor: pointer;
  background: url(arrow-bottom.png) 0 0/100% 100%;
  z-index: 5;
}

.title {
  text-align: center;
  padding-bottom: 5%;
  font-family: "Bitter", sans-serif;
  text-transform: uppercase;
  padding-bottom: 5%;
  color: #eee;
  font-size: calc(9px + 2.0714285714vw);
}
.title h2 {
  font-weight: 900;
  position: relative;
  color: #fff;
}
.title h2::before, .title h2::after {
  content: "";
  position: absolute;
  width: 3%;
  height: 100%;
  background-color: #fff;
  border-radius: 60% 5%;
  -webkit-animation: bef-aft-animation 4s linear infinite alternate;
          animation: bef-aft-animation 4s linear infinite alternate;
}
.title h2::before {
  left: 20%;
}
.title h2::after {
  right: 20%;
}
.title h1 {
  font-weight: 900;
  position: relative;
  color: #fff;
  font-size: calc(9px + 2.4285714286vw);
}
.title h1::before, .title h1::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 100%;
  background-color: #fff;
  border-radius: 60% 5%;
  -webkit-animation: bef-aft-animation 4s linear infinite alternate;
          animation: bef-aft-animation 4s linear infinite alternate;
}
.title h1::before {
  left: 22%;
}
.title h1::after {
  right: 22%;
}
.title p {
  text-transform: none;
  font-size: calc(9px + 0.7142857143vw);
  padding-top: 1%;
  max-width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes bef-aft-animation {
  0% {
    border-radius: 60% 5%;
  }
  25% {
    border-radius: 40% 20%;
  }
  50% {
    border-radius: 20% 45%;
  }
  75% {
    border-radius: 10% 55%;
  }
  100% {
    border-radius: 5% 60%;
  }
}

@keyframes bef-aft-animation {
  0% {
    border-radius: 60% 5%;
  }
  25% {
    border-radius: 40% 20%;
  }
  50% {
    border-radius: 20% 45%;
  }
  75% {
    border-radius: 10% 55%;
  }
  100% {
    border-radius: 5% 60%;
  }
}
.wrapper {
  padding: 0 8% 0 8%;
}

.home-style {
  -webkit-box-shadow: 0px 15px 100px #000;
          box-shadow: 0px 15px 100px #000;
  border: 1px solid rgba(100, 100, 100, 0.6);
  border-radius: 25px;
  margin: 5% 6% 0 6%;
  padding: 100px 0 100px 0;
}

.our-teachers {
  margin: 0;
  padding: 6% 6%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: -webkit-gradient(linear, left top, right top, from(#9F99FF), color-stop(#80CCE8), to(#82FFB8));
  background: linear-gradient(to right, #9F99FF, #80CCE8, #82FFB8);
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.our-teachers .teachers-list {
  background-color: rgba(50, 50, 50, 0.1);
  padding: 5% 0 5% 0;
  margin: 0 0 10% 0;
  position: relative;
  display: none;
}
.our-teachers .teachers-list.active-slider {
  display: block;
}
.our-teachers .teachers-list .slick-list.draggable {
  overflow: hidden;
}
.our-teachers .teachers-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-teachers .teachers-list .slick-arrow {
  position: absolute;
  top: 50%;
  width: 7vw;
  height: 7vw;
  font-size: 0;
  background-color: transparent;
  z-index: 2;
}
.our-teachers .teachers-list .slick-arrow.slick-next {
  background: url("arrow-right.png") 0 0/100%;
  right: -12%;
}
.our-teachers .teachers-list .slick-arrow.slick-prev {
  background: url("arrow-left.png") 0 0/100%;
  left: -12%;
}
.our-teachers .teachers-kkk {
  display: none;
}
.our-teachers .teachers-kkk.active-slider {
  display: block;
}
.our-teachers .menu-teachers {
  list-style-type: none;
}
.our-teachers .menu-teachers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.our-teachers .menu-teachers ul a {
  font-size: calc(9px + 1.4285714286vw);
  font-family: "Bitter", sans-serif;
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2vw 5vw;
}
.our-teachers .menu-teachers ul a:visited {
  color: #fff;
}
.our-teachers .menu-teachers ul .tab {
  background-color: rgba(50, 50, 50, 0.05);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.our-teachers .menu-teachers ul .tab-active {
  background-color: rgba(50, 50, 50, 0.1);
}
.our-teachers .title {
  color: #fff;
  font-family: "Bitter", sans-serif;
  margin-bottom: 4%;
}
.our-teachers .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  font-size: calc(9px + 1.0714285714vw);
  font-weight: 500;
  max-height: 100%;
}
.our-teachers .teacher .teacher-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.our-teachers .teacher .teacher-img img {
  width: 50%;
  border-radius: 5%;
  border: 8px solid #fff;
  margin: 0 0 7% 0;
}
.our-teachers .teacher .teacher-img .sub-info {
  line-height: 1.2;
  font-size: calc(9px + 1.3571428571vw);
  font-family: "Bitter", sans-serif;
}
.our-teachers .teacher .teacher-img .sub-info h2 {
  font-weight: 500;
}
.our-teachers .teacher .about-teacher {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-size: calc(9px + 1.3571428571vw);
  font-family: "Bitter", sans-serif;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.our-teachers .teacher .about-teacher p {
  position: relative;
  padding-bottom: 5%;
}
.our-teachers .teacher .about-teacher p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.teachers__content {
  margin: 5% 0 0 0;
  padding: 8% 2%;
  background-color: #8CD0FF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.teachers__content .wrapper {
  padding-bottom: auto;
}
.teachers__content .teachers__content-title {
  text-align: center;
  margin-bottom: 5%;
  color: #fff;
  font-family: "Bitter", sans-serif;
}
.teachers__content .teachers__content-title .list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2%;
}
.teachers__content .teachers__content-title h2 {
  font-size: calc(9px + 2.1428571429vw);
  font-weight: 700;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.teachers__content .teachers__content-title p {
  font-weight: 500;
  font-size: calc(9px + 1.0714285714vw);
  word-spacing: 5px;
}
.teachers__content .teachers__content-title img {
  max-width: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.teachers__content .teachers__content-title .touch-title {
  margin: 5% 0 0 0;
  font-size: calc(9px + 2.1428571429vw);
  font-weight: 700;
}
.teachers__content .teachers__content-title .touch-title img {
  margin: 2% 0 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.teachers__content .teachers__layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7% 1fr 7% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(calc(9px + 21.4285714286vw), 1fr) 20% minmax(calc(9px + 21.4285714286vw), 1fr);
  grid-template-rows: minmax(calc(9px + 21.4285714286vw), 1fr) minmax(calc(9px + 21.4285714286vw), 1fr);
  padding-bottom: 25%;
  grid-column-gap: 7%;
  grid-row-gap: 20%;
}
.teachers__content .teachers__layout > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.teachers__content .teachers__layout > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.teachers__content .teachers__layout > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.teachers__content .teachers__layout > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.teachers__content .teachers__layout > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.teachers__content .teachers__layout > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.teachers__content .content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.teachers__content .content .content__popup {
  display: none;
}
.teachers__content .content.active__popup .content__popup {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: calc(9px + 1.4285714286vw);
  font-family: "Bitter", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.teachers__content .content.active__popup .content__popup .close__popup {
  position: absolute;
  top: 5vh;
  right: 5vh;
}
.teachers__content .content.active__popup .content__popup .close__popup img {
  max-width: 8vw;
}
.teachers__content .content.active__popup .content__popup img {
  padding: 2vw 0 5% 0;
  max-width: 30vh;
}
.teachers__content .content.active__popup .content__popup p {
  max-width: 70%;
  margin: 0 auto;
}
.teachers__content .content:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.teachers__content .content:hover .teacher-info {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #48cae4;
  color: #fff;
}
.teachers__content .content::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 35%;
  width: 26%;
  height: 20%;
  background: url(cloud1.png) 0 0/cover;
}
.teachers__content .teacher-info {
  background-color: #eee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: calc(9px + 0.3571428571vw);
  font-family: "Bitter", sans-serif;
  line-height: 1.4;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto minmax(20px, 30px) 1fr;
  grid-template-rows: auto minmax(20px, 30px) 1fr;
}
.teachers__content .teacher-info h2 {
  font-weight: 800;
  font-size: calc(9px + 0.7142857143vw);
  padding: 5% 0 0 5%;
  margin: 0 0 10% 0;
  letter-spacing: 2px;
}
.teachers__content .teacher-info p {
  font-weight: 600;
  padding: 7% 0 5% 5%;
}
.teachers__content .teacher-info .teacher-info-img {
  position: relative;
  padding: 0 0 90% 0;
  margin-bottom: 0 0 20px 0;
}
.teachers__content .teacher-info .teacher-info-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  height: 160px;
  background-color: #343a40;
  margin-top: 5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.footer .footer-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer .footer-icon img {
  max-width: 70%;
}
.footer .footer-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}
.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .contact {
  font-family: "Bitter", sans-serif;
  font-size: calc(9px + 0.7142857143vw);
  color: #fff;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
@media (max-width: 900px) {
  .our-teachers .title {
    color: #fff;
    font-family: "Bitter", sans-serif;
  }
  .our-teachers .title h1::before {
    left: 10%;
    width: 5%;
  }
  .our-teachers .title h1::after {
    right: 10%;
    width: 5%;
  }
  .our-teachers .teacher {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-teachers .teacher .teacher-img {
    text-align: center;
    padding-bottom: 5%;
  }
  .our-teachers .teacher .teacher-img img {
    margin: 0 auto 5% auto;
    max-width: 50%;
  }
  .our-teachers .teacher .about-teacher {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .scroll-to-menu {
    width: 75px;
    display: none;
    height: 75px;
  }
  .scroll-to-menu-active {
    display: block;
    position: fixed;
    top: 10vh;
    right: 2vw;
  }
}
@media (max-width: 768px) {
  .scroll-to-menu {
    width: 50px;
    display: none;
    height: 50px;
  }
  .scroll-to-menu-active {
    display: block;
    position: fixed;
    top: 10vh;
    right: 2vw;
  }
  .header__wrapper {
    padding: 0;
  }
  .header .header__menu {
    height: 100%;
  }
  .header .header__menu .header__logo {
    margin: 0 0 0 15%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
  .header .header__menu .header__logo img {
    max-width: 60%;
  }
  .header .header__menu .list-burger {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 8%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    z-index: 10;
  }
  .header .header__menu .list-burger-active .line {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .header .header__menu .list-burger-active .line::before {
    top: 48%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header__menu .list-burger-active .line::after {
    bottom: 48%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .header__menu .list-menu {
    background: url("fone.jpg");
    background-size: 60%;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -200%;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    z-index: 10;
  }
  .header .header__menu .list-menu .list {
    display: block;
    padding: 30% 0 0 10%;
    font-size: calc(9px + 1.7857142857vw);
    z-index: 10;
  }
  .header .header__menu .list-menu.list-menu-active {
    top: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .header .header__menu .list-menu.list-menu-active .list a {
    font-size: calc(9px + 1.7857142857vw);
    font-weight: 700;
  }
  .header .header__menu .list-menu.list-menu-active .list li {
    font-weight: 700;
    display: block;
    padding: 3% 0;
  }
  @-webkit-keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      left: 35%;
    }
  }
  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      left: 35%;
    }
  }
  .header .header__menu .list-menu.list-menu-active .list li .list__sub-menu {
    top: 0;
    left: 40%;
    width: 60%;
  }
  .header .header__menu .list-menu.list-menu-active .list li .list__sub-menu li {
    padding: 2% 2%;
  }
  .teachers__content .teachers__layout {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25%;
  }
}
@media (max-width: 700px) {
  .scroll-to-menu {
    width: 40px;
    height: 40px;
  }
  .scroll-to-menu-active {
    display: block;
    position: fixed;
    top: 10vh;
    right: 2vw;
  }
}
@media (max-width: 480px) {
  .our-teachers .teacher .teacher-img img {
    max-width: 40%;
  }
  .teachers__content .teachers__layout {
    -ms-grid-columns: 0.8fr;
    grid-template-columns: 0.8fr;
    grid-row-gap: 5%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 200%;
  }
  .teachers__content .teachers__layout > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .teachers__content .content.active__popup .content__popup img {
    padding: 20vh 0 5% 0;
  }
  .teachers__content .content.active__popup .content__popup .close__popup img {
    padding: 0;
  }
}
@media (max-height: 600px) {
  .teachers__content .content.active__popup .content__popup {
    line-height: 1;
  }
  .teachers__content .content.active__popup .content__popup img {
    max-width: 30vw;
  }
  .teachers__content .content.active__popup .content__popup .close__popup img {
    padding: 0;
  }
}
@media (min-height: 605px) {
  .teachers__content .content.active__popup .content__popup {
    font-size: calc(9px + 1.4285714286vw);
  }
  .teachers__content .content.active__popup .content__popup .close__popup {
    position: absolute;
    top: 5vh;
    right: 5vh;
  }
  .teachers__content .content.active__popup .content__popup .close__popup img {
    max-width: 8vw;
  }
  .teachers__content .content.active__popup .content__popup img {
    padding: 5vh 0 5% 0;
    max-width: 50vw;
  }
  .teachers__content .content.active__popup .content__popup p {
    max-width: 70%;
    margin: 0 auto;
  }
}